/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

/* ESTILOS */
html{
    background: #F3F5FC;
    font-family: system-ui, sans-serif;
    font-size: 16px;
}

body{
    display: grid;
    height: 100svh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 0.1fr;
    grid-template-areas:
        "sector1 sector1 sector2"
        "sector1 sector1 sector2"
        "btn btn sector2"
        "footer footer footer" ;
    grid-gap: 0.5rem;
}

/* POSICIONES GRID*/
.sector1{
    grid-area: sector1;
}

.sector2{
    grid-area: sector2;
    position: relative;
}

.sectorBtn{
    grid-area: btn;
}

footer{
    grid-area: footer;
}

/* SECTOR 1 */
.logo{
    margin: 40px;
}

.cajaInput{
    margin: 0 40px;
}

.input{
    width: 100%;
    height: 49dvh;
    resize: none;
    background: none;
    padding: 1rem 3rem;
    border: none;
    outline: none;
    font-size: 2rem;
    color: #0A3871;
}

.alerta p{
    margin: 0 40px;
    color: #495057;
    font-size: 0.8rem;
    opacity: 0.8;
    padding: 0 3rem;
}

/* SECTOR 2 */

.sector2{
    border-radius: 2rem;
    background: var(--White, #FFF);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    margin: 2rem;
}

.output{
    position: absolute;
    width: 80%;
    height: 60dvh;
    resize: none;
    background: none;
    margin: 1.5rem 2rem;
    border: 0;
    outline: 0;
    color: #495057;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%; /* 2.25rem */
}

.figura{
    margin: 3rem auto;
}

.noText{
    margin: 1rem;
}

.noText h3{
    align-self: stretch;
    color: #343A40;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 120%; /* 1.8rem */
    margin: 0rem 1rem;
}

.noText p{
    align-self: stretch;
    color: #495057;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    line-height: 150%; /* 1.5rem */
    margin: 0.5rem 1rem;
}

.sectorCopy{
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* BOTONES */
.sectorBtn{
    text-align: center;
}

.btn{
    display: inline-block;
    font-size: 1rem;
    color: #0A3871;
    width: 15rem;
    padding: 1.5rem;
    margin: 0 0.5rem;
    border-radius: 1.5rem;
    background: none;
    border: 1px solid #0A3871;
    cursor: pointer;
}


.btn:hover{
    color: #FFF;
    background: #0A3871;
    transition: 150ms;
}

.btn:active{
    color: #0A3871;
    background: #D8DFE8;
    transition: 0ms;
}

/* Footer */
footer {
    min-width: 100%;
    background: #0A3871;
}

ul {
    padding: 1em;
    text-align: right; 
}
ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 0.4em;
}
ul a, p {
    color: #F3F5FC;
    text-decoration: none;
}

ul a{
    font-size: 1.2em;
}

ul a:hover {
    color: #ffcf40;
    transition: 350ms;
    cursor: pointer;
}

@media only screen and (max-width: 720px){
    body{
        display: grid;
        height: 100dvh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 2fr 0.1fr;
        grid-template-areas:
            "sector1"
            "btn"
            "sector2"
            "footer" ;
        grid-gap: 0.5rem;
    }

    .input{
        height: auto;
    }

    .output{
        height: auto;
    }

    .noText{
        margin-top: 2rem;
        margin-bottom: 8rem;
    }

    ul {
        padding: 1em;
        text-align: center; 
    }

    .separador{
        display: none;
    }
}