/* Reset usando (*) para aplicar a toda la pagina */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* Estilos aplicados */
html, body {
    height: 100%;
  }

body{
    display: flex;
    flex-direction: column;
    background: #F3F5FC;
}

header{
    padding: 40px 0 0 40px;
}

main{
    flex: 1 0 auto;
    width: 95%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.sector1{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: #F3F5FC;
    padding: 2rem;
    display: grid;
    gap: 2rem;
    position: relative;
}

.input{
    position: relative;
    width: 100%;
    border: none;
    height: 350px;
    padding: 1.5rem;
    outline: none;
    color: #0A3871;
    background: none;
    border-radius: 16px;
    font-size: 2rem;
    resize: none;
}

.alerta p{
    color: #495057;
    font-size: 14px;
    padding: 0 1.5rem
}

.sector2{
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background: #FFF;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(32px);
    padding: 2em;
    margin: 0 2em 0 2em;
    display: grid;
    position: relative;
}

.noText h3{
    color: #343A40;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 0.2rem;
}

.noText p{
    color: #495057;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 1rem;
}

.outputPackage{
    opacity: 100%;
}

.output{
    position: absolute;
    width: 84%;
    padding: 1em;
    top: 2rem;
    bottom: 11rem;
    border: none;
    color: #495057;
    background: none;
    border-radius: 16px;
    font-size: 2rem;
    resize: none;
}

.sectorBtn{
    margin-top: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.btn{
    line-height: normal;
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 16px;
    width: 328px;
    padding: 24px;
    border-radius: 24px;
    border: 1px solid #0A3871;
    cursor: pointer;
}

.btn:hover{
    background-color: #0A3871;
    color: #FFF;
    transition: 200ms;
}

#btnCopiar{
    background: none;
}

#btnCopiar:hover{
    background-color: #0A3871;
    color: #FFF;
    transition: 200ms;
}

/* Estilos footer */
footer{
    flex-shrink: 0;
    width: 100%;
    background: #0A3871;
    margin-top: 1.5em;
}
ul {
    padding: 1em;
    text-align: right;
    
}
ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.2em 0.4em;
}
ul a, p {
    color: #fff;
    text-decoration: none;
}

ul a{
    font-size: 1.2em;
}

ul a:hover {
    color: #ffcf40;
    transition: 350ms;
}
